.quizz-page{
    margin-top: -77px;
    display: flex; 
    flex-direction: column;
    width: 100%;
}

.quizz-cover{   
    height: 227px;
    position: relative;
    
}

.quizz-cover img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(40%);
    
}

.quizz-cover p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 87px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

.quizz-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container{
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 0;
    width: 759px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question{
    width: 688.16px;
    height: 137.99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}


.answers{
    display: flex;
    width: 688.16px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.answer {
    margin-top: 20px;
}
.answer img{
    width: 329.91px;
    height: 175.2px;
    object-fit: cover;
}

.answer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 7px;
}

