.quizzes-user {
    width: 1050px;
    height: 180px;
    box-sizing: border-box;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.quizzes-user p {
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
    width: 210px;
}

.quizzes-user button {
    background-color: #FAFAFA;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
    transition: 0.5s;
}

.quizzes-user button:hover {
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.all-quizzes {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.all-quizzes h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.container-quizzes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 1050px;
}

.quizz-show {
    position: relative;
    cursor: pointer;
}

.gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0)60%, rgba(0, 0, 0, 1));
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: absolute;
    top: 0;

}

.quizz-show img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    /* filter: brightness(95%); */
}

.quizz-show p {
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: white;
    bottom: 20px;
    left: 15px;
    width: 290px;
}
.user-experience{
    
}