.quizz-page {
    margin-top: -77px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.quizz-cover {
    height: 227px;
    position: relative;
    box-sizing: border-box;
}

.quizz-cover img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.quizz-cover p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    word-wrap: break-word;
}

.quizz-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.question-container {
    justify-content: center;
    box-sizing: border-box;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    height: auto;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    overflow: hidden;
}

.question {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89px;
    width: 100%;
    padding-inline: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    word-break: break-all;
    white-space: wrap;
    text-align: center;
}


.answers {
    padding-block: 16px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.answer {
    margin-top: 20px;
    width: 48%;
    box-sizing: border-box;
}

.answer img {
    width: 100%;
    height: 113px;
    object-fit: cover;
}

.answer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    margin-top: 7px;
    width: 100%;
    word-break: break-all;
    white-space: wrap;  
}

/*-------------- LEVEL------------*/
.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-level {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: none;
}

.level-title {
    width: 100%;
    height: 137.99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #EC362D;
    margin-bottom: 18px;
    word-break: break-all;
    padding-inline: 16px;
}

.level-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.level-img {
    width: 100%;
    margin-bottom: 21px;
}

.level-text {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    width: 100%;
    word-break: break-all;
}

.quizz-buttons{
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.restart{
    width: 260.38px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    border-radius: 15px;

    /* font */
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.home{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 16px;

}

.quizz-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
}

.quizz-loading img {
    width: 300px;
}

.quizz-loading p {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: #EC362D;
}